
<!DOCTYPE html>
<html>
 

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <tr>
    <td>
      4027
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/6U1eHg30snkOhSM9WJT2asAesR9.jpg" style="width:250px;">
    </td>

    <td>
      Frank Darabont
    </td>

    <td>
      1959-01-28
    </td>

    <td>
      <a href="/directors/4027">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      1776
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/mGKkVp3l9cipPt10AqoQnwaPrfI.jpg" style="width:250px;">
    </td>

    <td>
      Francis Ford Coppola
    </td>

    <td>
      1939-04-07
    </td>

    <td>
      <a href="/directors/1776">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      525
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/iG0Gs0i5yd6SG4tSFjlXi5ZnSX6.jpg" style="width:250px;">
    </td>

    <td>
      Christopher Nolan
    </td>

    <td>
      1970-07-30
    </td>

    <td>
      <a href="/directors/525">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      39996
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/boygOB4WxxfvucKirmTK6KNiGRM.jpg" style="width:250px;">
    </td>

    <td>
      Sidney Lumet
    </td>

    <td>
      1924-06-25
    </td>

    <td>
      <a href="/directors/39996">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      488
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/tZxcg19YQ3e8fJ0pOs7hjlnmmr6.jpg" style="width:250px;">
    </td>

    <td>
      Steven Spielberg
    </td>

    <td>
      1946-12-18
    </td>

    <td>
      <a href="/directors/488">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      108
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/4hh7hips4xc6kgpNDQKQH3goRvJ.jpg" style="width:250px;">
    </td>

    <td>
      Peter Jackson
    </td>

    <td>
      1961-10-31
    </td>

    <td>
      <a href="/directors/108">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      138
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/1gjcpAa99FAOWGnrUvHEXXsRs7o.jpg" style="width:250px;">
    </td>

    <td>
      Quentin Tarantino
    </td>

    <td>
      1963-03-27
    </td>

    <td>
      <a href="/directors/138">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      4385
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/rwNuspKZpJnuypQQJsPoAAfLbPh.jpg" style="width:250px;">
    </td>

    <td>
      Sergio Leone
    </td>

    <td>
      1929-01-03
    </td>

    <td>
      <a href="/directors/4385">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      7467
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/wdBeQXDNbbjkIKXHeEZtQShwSDM.jpg" style="width:250px;">
    </td>

    <td>
      David Fincher
    </td>

    <td>
      1962-08-28
    </td>

    <td>
      <a href="/directors/7467">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      24
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/lPYDQ5LYNJ12rJZENtyASmVZ1Ql.jpg" style="width:250px;">
    </td>

    <td>
      Robert Zemeckis
    </td>

    <td>
      1952-05-14
    </td>

    <td>
      <a href="/directors/24">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      10930
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/imtFUtcASoh2e1Emtt62UuFkIWA.jpg" style="width:250px;">
    </td>

    <td>
      Irvin Kershner
    </td>

    <td>
      1923-04-29
    </td>

    <td>
      <a href="/directors/10930">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      9339
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/9sxE10LUA7TGlS1pHw2RM6mckHp.jpg" style="width:250px;">
    </td>

    <td>
      Lilly Wachowski
    </td>

    <td>
      1967-12-29
    </td>

    <td>
      <a href="/directors/9339">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      1032
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/9U9Y5GQuWX3EZy39B8nkk4NY01S.jpg" style="width:250px;">
    </td>

    <td>
      Martin Scorsese
    </td>

    <td>
      1942-11-17
    </td>

    <td>
      <a href="/directors/1032">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      3974
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/O2Crxh0l3u1mxHvjA6003gEpi7.jpg" style="width:250px;">
    </td>

    <td>
      Miloš Forman
    </td>

    <td>
      1932-02-18
    </td>

    <td>
      <a href="/directors/3974">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      5026
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/uCFWmYXu0EqF5Bd6zWaOS4FxvEB.jpg" style="width:250px;">
    </td>

    <td>
      Akira Kurosawa
    </td>

    <td>
      1910-03-23
    </td>

    <td>
      <a href="/directors/5026">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      4818
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/noelOhwX1oaNSvU9NLKhPrHTFI3.jpg" style="width:250px;">
    </td>

    <td>
      Roberto Benigni
    </td>

    <td>
      1952-10-27
    </td>

    <td>
      <a href="/directors/4818">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      8557
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/at0fRZl4fJwqaytXOfvgs1lOM9E.jpg" style="width:250px;">
    </td>

    <td>
      Fernando Meirelles
    </td>

    <td>
      1955-11-09
    </td>

    <td>
      <a href="/directors/8557">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      16294
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/hm4wkbBOKaeLwMIk51hZ06OUkW3.jpg" style="width:250px;">
    </td>

    <td>
      Jonathan Demme
    </td>

    <td>
      1944-02-22
    </td>

    <td>
      <a href="/directors/16294">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      2662
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/1OTZ7CEdEawDgA4qiBidpWTKE2x.jpg" style="width:250px;">
    </td>

    <td>
      Frank Capra
    </td>

    <td>
      1897-05-18
    </td>

    <td>
      <a href="/directors/2662">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      1
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/d0ZMdgMz1mVcWWctyF7sbymSlv4.jpg" style="width:250px;">
    </td>

    <td>
      George Lucas
    </td>

    <td>
      1944-05-14
    </td>

    <td>
      <a href="/directors/1">
        Show details
      </a>
    </td>
  </tr>
</table>

  </body>
</html>
