
<!DOCTYPE html>
<html>
 

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

  <tr>
    <td>
      1
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/5KCVkau1HEl7ZzfPsKAPM0sMiKc.jpg" style="width:250px;">
    </td>

    <td>
      The Shawshank Redemption
    </td>

    <td>
      1994
    </td>

    <td>
      

      Frank Darabont
    </td>

    <td>
      <a href="/movies/1">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      2
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/3bhkrj58Vtu7enYsRolD1fZdja1.jpg" style="width:250px;">
    </td>

    <td>
      The Godfather
    </td>

    <td>
      1972
    </td>

    <td>
      

      Francis Ford Coppola
    </td>

    <td>
      <a href="/movies/2">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      3
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg" style="width:250px;">
    </td>

    <td>
      The Godfather: Part II
    </td>

    <td>
      1974
    </td>

    <td>
      

      Francis Ford Coppola
    </td>

    <td>
      <a href="/movies/3">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      4
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/qJ2tW6WMUDux911r6m7haRef0WH.jpg" style="width:250px;">
    </td>

    <td>
      The Dark Knight
    </td>

    <td>
      2008
    </td>

    <td>
      

      Christopher Nolan
    </td>

    <td>
      <a href="/movies/4">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      5
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/ppd84D2i9W8jXmsyInGyihiSyqz.jpg" style="width:250px;">
    </td>

    <td>
      12 Angry Men
    </td>

    <td>
      1957
    </td>

    <td>
      

      Sidney Lumet
    </td>

    <td>
      <a href="/movies/5">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      6
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/t7xhP8SQTVanzecvn1oQRVWCXTI.jpg" style="width:250px;">
    </td>

    <td>
      Schindler&#39;s List
    </td>

    <td>
      1993
    </td>

    <td>
      

      Steven Spielberg
    </td>

    <td>
      <a href="/movies/6">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      7
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg" style="width:250px;">
    </td>

    <td>
      The Lord of the Rings: The Return of the King
    </td>

    <td>
      2003
    </td>

    <td>
      

      Peter Jackson
    </td>

    <td>
      <a href="/movies/7">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      8
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/e5vzxBLagSoFh3LCA2zSj55AVc7.jpg" style="width:250px;">
    </td>

    <td>
      Pulp Fiction
    </td>

    <td>
      1994
    </td>

    <td>
      

      Quentin Tarantino
    </td>

    <td>
      <a href="/movies/8">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      9
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/eWivEg4ugIMAd7d4uWI37b17Cgj.jpg" style="width:250px;">
    </td>

    <td>
      The Good, the Bad and the Ugly
    </td>

    <td>
      1966
    </td>

    <td>
      

      Sergio Leone
    </td>

    <td>
      <a href="/movies/9">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      10
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg" style="width:250px;">
    </td>

    <td>
      The Lord of the Rings: The Fellowship of the Ring
    </td>

    <td>
      2001
    </td>

    <td>
      

      Peter Jackson
    </td>

    <td>
      <a href="/movies/10">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      11
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/k1lICEYRpJeFRIRfjxYwmpO9LTu.jpg" style="width:250px;">
    </td>

    <td>
      Fight Club
    </td>

    <td>
      1999
    </td>

    <td>
      

      David Fincher
    </td>

    <td>
      <a href="/movies/11">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      12
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/clolk7rB5lAjs41SD0Vt6IXYLMm.jpg" style="width:250px;">
    </td>

    <td>
      Forrest Gump
    </td>

    <td>
      1994
    </td>

    <td>
      

      Robert Zemeckis
    </td>

    <td>
      <a href="/movies/12">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      13
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/9gk7adHYeDvHkCSEqAvQNLV5Uge.jpg" style="width:250px;">
    </td>

    <td>
      Inception
    </td>

    <td>
      2010
    </td>

    <td>
      

      Christopher Nolan
    </td>

    <td>
      <a href="/movies/13">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      14
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/7BuH8itoSrLExs2YZSsM01Qk2no.jpg" style="width:250px;">
    </td>

    <td>
      The Empire Strikes Back
    </td>

    <td>
      1980
    </td>

    <td>
      

      Irvin Kershner
    </td>

    <td>
      <a href="/movies/14">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      15
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/5VTN0pR8gcqV3EPUHHfMGnJYN9L.jpg" style="width:250px;">
    </td>

    <td>
      The Lord of the Rings: The Two Towers
    </td>

    <td>
      2002
    </td>

    <td>
      

      Peter Jackson
    </td>

    <td>
      <a href="/movies/15">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      16
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/dXNAPwY7VrqMAo51EKhhCJfaGb5.jpg" style="width:250px;">
    </td>

    <td>
      The Matrix
    </td>

    <td>
      1999
    </td>

    <td>
      

      Lilly Wachowski
    </td>

    <td>
      <a href="/movies/16">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      17
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/oErEczcVUmJm0EPdvWsvK4g4Lv3.jpg" style="width:250px;">
    </td>

    <td>
      GoodFellas
    </td>

    <td>
      1990
    </td>

    <td>
      

      Martin Scorsese
    </td>

    <td>
      <a href="/movies/17">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      18
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/biejlC9yx8W66KHrD5tp9YiSqmV.jpg" style="width:250px;">
    </td>

    <td>
      One Flew Over the Cuckoo&#39;s Nest
    </td>

    <td>
      1975
    </td>

    <td>
      

      Miloš Forman
    </td>

    <td>
      <a href="/movies/18">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      19
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/1wCRVLGI7SoTOoDRzWlbt2dMDuy.jpg" style="width:250px;">
    </td>

    <td>
      Seven Samurai
    </td>

    <td>
      1954
    </td>

    <td>
      

      Akira Kurosawa
    </td>

    <td>
      <a href="/movies/19">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      20
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/6yoghtyTpznpBik8EngEmJskVUO.jpg" style="width:250px;">
    </td>

    <td>
      Se7en
    </td>

    <td>
      1995
    </td>

    <td>
      

      David Fincher
    </td>

    <td>
      <a href="/movies/20">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      21
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/74hLDKjD5aGYOotO6esUVaeISa2.jpg" style="width:250px;">
    </td>

    <td>
      Life Is Beautiful
    </td>

    <td>
      1997
    </td>

    <td>
      

      Roberto Benigni
    </td>

    <td>
      <a href="/movies/21">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      22
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/mG7YgoeA4ortmwcrtbkIEQjexSB.jpg" style="width:250px;">
    </td>

    <td>
      City of God
    </td>

    <td>
      2002
    </td>

    <td>
      

      Fernando Meirelles
    </td>

    <td>
      <a href="/movies/22">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      23
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/rplLJ2hPcOQmkFhTqUte0MkEaO2.jpg" style="width:250px;">
    </td>

    <td>
      The Silence of the Lambs
    </td>

    <td>
      1991
    </td>

    <td>
      

      Jonathan Demme
    </td>

    <td>
      <a href="/movies/23">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      24
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/bSqt9rhDZx1Q7UZ86dBPKdNomp2.jpg" style="width:250px;">
    </td>

    <td>
      It&#39;s a Wonderful Life
    </td>

    <td>
      1946
    </td>

    <td>
      

      Frank Capra
    </td>

    <td>
      <a href="/movies/24">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      25
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" style="width:250px;">
    </td>

    <td>
      Star Wars
    </td>

    <td>
      1977
    </td>

    <td>
      

      George Lucas
    </td>

    <td>
      <a href="/movies/25">
        Show details
      </a>
    </td>
  </tr>
</table>

  </body>
</html>
